<div class = "header">
  <div class = "row">
    <ul>
      <li>welcome</li>
      <li>portfolio</li>
      <li>blog</li>
      <li>about</li>
      <li>contact</li>
    </ul>
  </div>
  <div class = "name">
    
  </div>
</div>
  
<div class = "main">
  
</div>
  
<div class = "footer">
  <ul>
    <li><a class="github" href="#">github</a></li>
    <li><a class="linkedin" href="#">linkedin</a></li>
    <li><a class="twitter" href="#">twitter</a></li>
  </ul>
</div>